@font-face {
    font-family: Mulish;
    src: url(src/fonts/Mulish-Medium.ttf);
}
@font-face {
    font-family: Mulish-Bold;
    src: url(src/fonts/Mulish-Bold.ttf);
}
@font-face {
    font-family: Mulish-Light;
    src: url(src/fonts/Mulish-Light.ttf);
}
@font-face {
    font-family: Mulish-ExtraLight;
    src: url(src/fonts/Mulish-ExtraLight.ttf);
}
@font-face {
    font-family: Mulish-ExtraBold;
    src: url(src/fonts/Mulish-ExtraBold.ttf);
}

:root {
    --colorText: #e9e7ef;
    --colorTextOff: #767676a5;
    --colorBackground: #0c0a10;
    --colorPrimary: #8678a5;
    --colorSecundary: #1e1b23;
    --colorTerciary: #6a5c8a;
    --colorFour: #17151b;
    --colorMuted: #0c0a10;
    --colorAccent: #6593ae;

}

/*

--colorText: #fcfdfd;
    --colorBackground: #020303;
    --colorPrimary: #5485a0;
    --colorSecundary: #19272f;
    --colorTerciary: #0f1010;
    --colorAccent: #6593ae;

*/

::selection {
    background-color: var(--colorPrimary);
    color: var(--colorBackground);
}

.inlineFlex {
    display: inline-flex;
}