* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: var(--colorBackground);

    width: 100%;
    height: 100vh;

    margin: 0 0 0 0;
    padding: 0 0 0 0;

    overflow: hidden;

    background-image: url(src/images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    width: fit-content;
}
.toolsWrapper {
    position: relative;

    margin: 30vh 10vw;

    width: fit-content;
    height: fit-content;
}
.toolsRow {
    position: relative;
    display: inline-flex;

    width: 80vw;
    height: auto;

    margin: 1vh auto;
}

.toolButton {
    position: relative;
    margin: auto auto;

    background-color: #1e1b23ab;
    backdrop-filter: blur(20px);
    width: 19vw;
    height: 30vh;

    border-radius: 17px;
    border: 1px solid rgb(255 255 255 / 10%);

    cursor: pointer;

    transition: border 0.2s ease-in-out;
}
.toolButton:hover {
    border: 1px solid rgba(255, 255, 255, 20%);
}
.toolButtonImageWrapper {
    width: fit-content;
    height: fit-content;
    font-size: 2vw;

    margin: 4vh 2vw;
}
.siteButtonImage {
    color: var(--colorAccent);
}
.toolButtonImage {
    color: var(--colorTerciary);

}
.toolButtonTitle {
    color: var(--colorText);
    font-family: Mulish-Bold;
    font-size: 1.5vw;
    font-weight: 500;

    margin: 2vh 2vw 0vh;
}
.toolButtonDescription {
    color: var(--colorTextOff);
    font-family: Mulish;
    font-size: 0.7vw;

    margin: 1vh 2vw;
}
/* .toolButtonTags {
    display: flex;
    margin-left: 2vw;
    margin-top: 2vh;
}
.toolButtonTag {
    display: flex;
    
    background-color: var(--colorTerciary);
    
    color: var(--colorBackground);  
    font-family: Mulish;

    padding: 0.8vh 1vw;

    border-radius: 100vw;

    margin-right: 1vw;
}
.toolButtonTag > * {
    margin: auto 0;
}
.toolButtonTag > p {
    margin-left: 0.6vw;
} */