@keyframes element {
    0%  {

    }
    100% {
        margin: 5vh 90vw;
        opacity: 0.4;
    }
}
@keyframes elementShowcase {
    0%  {

        left: -20vw;
        opacity: 0;
    }
    100% {
        left: 5vw;
        opacity: 1;
    }
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: var(--colorBackground);

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
}
a {
    width: fit-content;
}

.wrapper {
    position: fixed;
    margin: auto 10vw;
    margin-top: 5vh;

    width: 80vw;
    height: 90vh;
}
.row {
    width: 100%;

    display: inline-flex;

    padding-top: 0.4vh;
    padding-bottom: 0.4vh;

}
.spacer {
    height: var(--rowHeight);

}
.cell {
    top: auto;
    left: auto;
    position: relative;
    width: 4.44vw;
    height: var(--rowHeight);
    background-color: var(--colorSecundary);

    margin-left: 0.2vw;
    border-radius: 7px;

    cursor: pointer;

    transition: background-color ease-in-out 0.1s, transform ease-in-out 0.1s, opacity ease-in-out 0.1s, z-index ease-in-out 0.1s;
    z-index: 3;
}
.cellNot {
    width: 4.44vw;
    height: var(--rowHeight);

    margin-left: 0.2vw;
    border-radius: 7px;
}
.cell:hover{
    transform: scale(1.4);
    background-color: var(--colorTerciary);


    z-index: 4;
}
.cell:hover .atomicNumber{
    color: var(--colorSecundary);
}
.atomicNumber {
    font-family: Mulish-Bold;

    padding-top: 0.4vh;
    padding-left: 0.3vw;

    color: var(--colorPrimary);

    transition: color ease-in-out 0.1s;
}
.elementSymbol {
    color: var(--colorText);
    font-family: Mulish;
    margin-top: 0.3vh;
    font-size: 1.5vw;

    text-align: center;
    text-transform: capitalize;
}
.elementName {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 0.8vh;

    font-size: 0.5vw;

    text-transform: capitalize;
}
.atomicMass {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 0.3vh;
    margin-bottom: 1vh;

    font-size: 0.5vw;
}

/*      Spacers         */
#spacerFirstRow {
    width: calc(16*(((100%)/ 18) + 0.1vw));
}
.spacerSecundRow {
    width: calc(10.45*((80vw)/ 18));
}
#spacerOneCell {
    width: calc(((80vw)/ 18));
}

#iframeTable {
    width: 100vw;
    height: 100;
}



/*      Secundary Section       */
#elemntShowcase {
    width: 10vw;
    height: 30vh;
    background-color: var(--colorSecundary);
    position: fixed;

    top: 30vh;
    left: 5vw;

    padding: 1vw 2vh;

    border-radius: 15px;
}

#showcaseAtomicNumber {
    font-family: Mulish-Bold;
    font-size: 1.5vw;

    padding-top: 0.4vh;
    padding-left: 0.3vw;

    color: var(--colorPrimary);

    transition: color ease-in-out 0.1s;

}
#showcaseElementSymbol {
    color: var(--colorText);
    font-family: Mulish;
    margin-top: 3vh;
    font-size: 4vw;
    text-transform: capitalize;

    text-align: center;
}
#showcaseElementName {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 2vh;

    font-size: 1vw;
    text-transform: capitalize;

}
#showcaseAtomicMass {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 0.7vh;
    margin-bottom: 1vh;

    
    font-size: 1vw;
}