* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: var(--colorBackground);

    width: 100vw;

    overflow-x: hidden;
}

#inputsWrapper {
    position: relative;
    top: 0;
    bottom: 0;
    height: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 auto;

    display: flex;
    width: fit-content;
    transform: translateY(-300px);
}

input[type=number],
select {
    background-color: var(--colorSecundary);
    display: block;

    border: 2px solid transparent;
    outline: 2px solid transparent;

    box-sizing: border-box;

    color: var(--colorText);
    font-family: Mulish;
    font-size: 1.2rem;

    width: 15vw;
    height: fit-content;

    padding: 1.6vh 1vw;
    border-radius: 7px;

    margin-right: 2vw;

    transition: outline 0.3s ease-in-out;
}

input:focus {
    outline-offset: 2px;
    outline: 2px solid var(--colorTerciary);

}

select {
    border-right: 16px solid var(--colorSecundary);
}

option:focus {
    background-color: var(--colorPrimary);
}

option {
    background-color: var(--colorSecundary);
    border: 0px solid transparent;
    outline: none;


}
.calcButton:first-of-type {
    margin-left: 4vw;
}

.calcButton {
    width: 8rem;
    display: block;

    background-color: var(--colorPrimary);
    color: var(--colorBackground);
    font-family: Mulish-Bold;
    font-size: 1.2rem;

    border: 2px solid transparent;
    outline: 2px solid transparent;

    padding: 1.6vh 1vw;
    margin-right: 1vw;
    margin-left: 2vw;
    border-radius: 7px;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.calcButton:hover {
    background-color: var(--colorTerciary);
}

.calcButtonHelf {
    width: 4rem;
    display: block;

    background-color: var(--colorPrimary);
    color: var(--colorBackground);
    font-family: Mulish-Bold;
    font-size: 1.2rem;

    border: 2px solid transparent;
    outline: 2px solid transparent;

    padding: 1.6vh 1vw;
    margin-right: 1vw;
    border-radius: 7px;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.calcButtonHelf:hover {
    background-color: var(--colorTerciary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

h1 {
    font-family: Mulish-ExtraBold;
    font-size: 10rem;

    color: var(--colorText);
    width: 100%;
    text-align: center;

    margin: 10vh 0;
    margin-bottom: 1vh;
}

h3 {
    font-family: Mulish-Light;
    font-size: 1.2rem;

    color: var(--colorPrimary);
    width: 100%;
    text-align: center;

    margin-bottom: 5vh;
}

#DisplayGrade {
    width: 56vw;
    height: 22vh;

    background-color: var(--colorSecundary);
    margin: 0 auto;
    padding: 4vh 2vw;

    margin-bottom: 10vh;

    border-radius: 7px;

    transform: scale(0);
}

#DisplayGradeTop {
    font-size: 1.5rem;
    font-family: Mulish-Bold !important;
    color: var(--colorTerciary);
    display: flex;
}

#DisplayGradeTop > span {
    display: flex;
    width: calc(100% / 3);

}
#DisplayGradeTop > span > i {
    display: block;
    margin: auto 0;
    margin-right: 0.6vw;
}
#DisplayGradeTop > span > i + p {
    display: block;
    width: calc(100% / 3);

    font-size: 1rem;
    margin:auto 0;
}

#DisplayGradeBottom {
    font-size: 8rem;
    font-family: Mulish-Bold !important;
    color: var(--colorText);
    display: flex;

    margin-top: 1vh;
}

#DisplayGradeBottom > span {
    display: flex;
    width: calc(100% / 3);

    text-align: center;

}
#tip {
    font-family: Mulish-Bold;
    font-size: 1.2rem;

    color: rgb(55, 55, 56);

    width: fit-content;
    margin: 4vh auto;
}

@keyframes apearDisplay {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes moveMenu {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0px);
    }
}

#info {
    display: none;
    
    position: absolute;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: #0c0a1089;
}
#info > #popout {
    margin: 10vh auto;

    width: 80vw;
    height: 80vh;

    border-radius: 12px;
}