* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    font-family: Mulish;
    color: var(--colorText);
}
html {
    overflow: hidden;
}
body {
    background-color: var(--colorBackground);

    display: flex;

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
}
#navMenu {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
}

#navMenu > .card {
    width: 15vw;
    height: 40vh;

    background-color: var(--colorSecundary);

    border-radius: 7px;

    margin: auto;
}
#navMenu > .card > img {
    width: 60%;
    display: block;

    margin: 0 auto;

    padding-top: 5vh;
}
#navMenu > .card > h1 {
    text-align: center;

    font-size: 3rem;

    margin: 3vh 0;
}
#navMenu > .card:hover {
    background-color: var(--colorPrimary);
}
#navMenu > .card:hover > img {
    filter: invert(100%);
}
#navMenu > .card:hover > h1 {
    color: var(--colorBackground);

}