* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: var(--colorBackground);

    width: 100%;
    height: 100vh;

    margin: 0 0 0 0;
    padding: 0 0 0 0;

    overflow: hidden;

    background-image: url(src/images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
