#blogPanelR h1 {
    color: var(--colorText);

    font-family: Mulish-ExtraBold;
    font-size: 4vw;

    width: 100%;

    padding-top: 1vh;
    margin-bottom: 1vh;

    border-bottom: 1px solid var(--colorSecundary);
}
#blogPanelR h2 {
    color: var(--colorText);

    font-family: Mulish-ExtraBold;
    font-size: 2vw;

    width: 100%;

    border-bottom: 1px solid var(--colorSecundary);

    padding-top: 2vh;
}
#blogPanelR h3 {
    color: var(--colorText);

    font-family: Mulish-ExtraBold;
    font-size: 1.4vw;

    width: 100%;

    padding-top: 2vh;
}
#blogPanelR h4 {
    color: var(--colorText);

    font-family: Mulish;
    font-size: 1vw;
    font-weight: 700;

    width: 100%;

    padding-top: 2vh;
}
h1 i,
h2 i,
h3 i,
h4 i {
    font-size: 1vw;
    color: var(--colorTextOff);
    font-family: Mulish-ExtraLight;
}
#blogPanelR p {
    color: #b9b8bf;

    font-family: Mulish-Light;
    font-size: 1vw;
    font-weight: 400;

    width: 100%;

    padding-bottom: 2vh;
}
#blogPanelR li, 
#blogPanelR ul {
    color: #b9b8bf;

    font-family: Mulish-Light;
    font-size: 1vw;
    font-weight: 400;

    width: 100%;

}
#blogPanelR strong {
    font-family: Mulish-ExtraBold;

}
#blogPanelR img {
    color: var(--colorText);

    width: 100%;

    font-family: Mulish;
    font-size: 1vw;

}
#blogPanelR a {
    color: var(--colorText);

    width: 100%;

    font-family: Mulish;
    font-size: 1vw;

}