@keyframes element {
    0%  {

    }
    100% {
        margin: 5vh 90vw;
        opacity: 0.4;
    }
}
@keyframes elementReverse {
    0%  {
        margin: 5vh 90vw;
        opacity: 0.4;
    }
    100% {
        margin: 5vh 10vw;
        opacity: 1;
    }
}
@keyframes elementShowcase {
    0%  {

        margin-left: -20vw;
        opacity: 0;
    }
    100% {
        margin-left: 5vw;
        opacity: 1;
    }
}
@keyframes elementShowcaseReverse {
    0%  {

        margin-left: 5vw;
        opacity: 1;
    }
    100% {
        margin-left: -20vw;
        opacity: 0;
    }
}
@keyframes filterMove {
    0%  {
        opacity: 1;
        display: inline-flex;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes filterMoveReverse {
    0%  {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: inline-flex;
    }
}
@keyframes filterMenu {
    0%  {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(0.4) translateY(-60vh);
        opacity: 0.5;
    }
}
@keyframes filterMenuReverse {
    0%  {
        transform: scale(0.4) translateY(-60vh);
        opacity: 0.5;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}


/*                          */
/*                          */
/*                          */
/*                          */
/*      Element Groups      */
[data-group = "Active_nonmetal"],
.cell[data-group = "Active_nonmetal"] *,
.cellNoHover[data-group = "Active_nonmetal"] *{
    background-color: #97C4A4 !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}
[data-group = "Active_alkali"],
.cell[data-group = "Active_alkali"] *,
.cellNoHover[data-group = "Active_alkali"] *{
    background-color: #CA6D7F !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}
[data-group = "Active_halogens"],
.cell[data-group = "Active_halogens"] *,
.cellNoHover[data-group = "Active_halogens"] *{
    background-color: #CFC99D !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}
[data-group = "Active_metaloids"],
.cell[data-group = "Active_metaloids"] *,
.cellNoHover[data-group = "Active_metaloids"] *{
    background-color: #B1AA9C !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}
[data-group = "Active_nobleGases"],
.cell[data-group = "Active_nobleGases"] *,
.cellNoHover[data-group = "Active_nobleGases"] *{
    background-color: #A7C5DA !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}
[data-group = "Active_alkaliMetals"],
.cell[data-group = "Active_alkaliMetals"] *,
.cellNoHover[data-group = "Active_alkaliMetals"] *{
    background-color: #CDB6A9 !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}
[data-group = "Active_lanthanides"],
.cell[data-group = "Active_lanthanides"] *,
.cellNoHover[data-group = "Active_lanthanides"] *{
    background-color: #CEA5B7 !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}
[data-group = "Active_poorMetals"],
.cell[data-group = "Active_poorMetals"] *,
.cellNoHover[data-group = "Active_poorMetals"] *{
    background-color: #AFABBC !important;
    color: var(--colorBackground) !important;
    border-radius: 7px !important;
}

/*                          */
/*                          */
/*                          */
/*                          */
/*          Other           */
* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: var(--colorBackground);

    position: relative;

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
}
a {
    width: fit-content;
}

.wrapper {
    position: fixed;
    margin: 0 10vw;
    margin-top: 5vh;

    width: 80vw;
    height: 85vh;
}
#otherButtons {
    position: fixed;

    width: 79.9vw;
    margin: 0 10vw;
    margin-left: 10.1vw;
    margin-top: 92vh;

    display: flex;
}
#otherButtonsButton {
    color: var(--colorPrimary);

    display: inline-flex;

    min-width: 14%;
    width: 100%;

    margin-right: 0.5vw;
    padding: 2vh 1vw;
    border-radius: 12px;

    font-size: 1.4rem;
    font-family: Mulish-Bold;

    cursor: pointer;

    opacity: 0.2;
    z-index: 99;

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#otherButtonsButton:last-of-type {
    margin-right: 0;
}
#otherButtonsButton:hover {
    color: var(--colorPrimary);
    background-color: var(--colorSecundary);

    opacity: 1;
}
#otherButtonsButton i {
    margin-left: auto;
    margin-right: 1vw;

    width: fit-content;

    margin-top: auto;
    margin-bottom: auto;

}
#otherButtonsButton p {
    margin-left: 0;
    margin-right: auto;

    width: fit-content;

    margin-top: auto;
    margin-bottom: auto;
}
.row {
    width: 100%;

    display: inline-flex;

    padding-top: 0.4vh;
    padding-bottom: 0.4vh;

}
.spacer {
    height: var(--rowHeight);

}
.cell {
    top: auto;
    left: auto;
    position: relative;
    width: 4.44vw;
    height: 5.7vw;
    background-color: var(--colorSecundary);

    margin-left: 0.2vw;
    border-radius: 7px;

    cursor: pointer;

    transition: background-color ease-in-out 0.1s, transform ease-in-out 0.1s, opacity ease-in-out 0.1s, z-index ease-in-out 0.1s;
    z-index: 3;
}
.cellNot {
    width: 4.44vw;
    height: 5.7vw;

    margin-left: 0.2vw;
    border-radius: 7px;
}
.cellNoHover {
    top: auto;
    left: auto;
    position: relative;
    width: 4.44vw;
    height: 5.7vw;
    background-color: var(--colorSecundary);

    margin-left: 0.2vw;
    border-radius: 7px;

    cursor: pointer;
    z-index: 3;
}

.cell:hover{
    transform: scale(1.4);
    background-color: var(--colorTerciary);


    z-index: 4;
}
.cell:hover .atomicNumber{
    color: var(--colorSecundary);
}
.atomicNumber {
    font-family: Mulish-Bold;
    font-size: 0.7vw ;

    padding-top: 0.4vh;
    padding-left: 0.3vw;

    color: var(--colorPrimary);

    transition: color ease-in-out 0.1s;
}
.elementSymbol {
    color: var(--colorText);
    font-family: Mulish;
    margin-top: 0.3vh;
    font-size: 1.5vw ;

    text-align: center;
    text-transform: capitalize;
}
.elementName {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 0.8vh;

    font-size: 0.55vw;

    text-transform: capitalize;
}
.atomicMass {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 0.3vh;
    margin-bottom: 1vh;

    font-size: 0.5vw;
}

/*      Spacers         */
#spacerFirstRow {
    width: calc(16*(((100%)/ 18) + 0.1vw));
}
.spacerSecundRow {
    width: calc(10.45*((80vw)/ 18));
}
#spacerOneCell {
    width: calc(((80vw)/ 18));
}

#iframeTable {
    width: 100vw;
    height: 100;
}



/*      Secundary Section       */
#elemntShowcase {
    width: 10vw;
    height: 15vw;
    background-color: var(--colorSecundary);
    position: relative;

    margin-top: 30vh;

    padding: 1vw 2vh;

    border-radius: 15px;
}

#showcaseAtomicNumber {
    font-family: Mulish-Bold;
    font-size: 1.5vw;

    padding-top: 0.4vh;
    padding-left: 0.3vw;

    color: var(--colorPrimary);

    transition: color ease-in-out 0.1s;

}
#showcaseElementSymbol {
    color: var(--colorText);
    font-family: Mulish;
    margin-top: 3vh;
    font-size: 4vw;
    text-transform: capitalize;

    text-align: center;
}
#showcaseElementName {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 2vh;

    font-size: 1vw;
    text-transform: capitalize;

}
#showcaseAtomicMass {
    color: var(--colorText);
    font-family: Mulish-ExtraLight;
    text-align: center;
    margin-top: 0.7vh;
    margin-bottom: 1vh;

    
    font-size: 1vw;
}

#aboutElement {
    display: flex;
}
#elemntSidePanelGoBack {
    color: var(--colorBackground);
    font-family: Mulish-Bold;
    font-size: 1.5rem;

    position: relative;
    
    margin-top: 2.5vh;

    padding: 1.5vh 0;
    border-radius: 0.8rem;

    width: 12vw;
    text-align: center;

    cursor: pointer;
    border: 1.5px solid transparent;

    background-color: var(--colorTerciary);

    transition: margin-top 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#elemntSidePanelGoBack:hover {
    margin-top: 2vh;
    border: 1.5px solid var(--colorPrimary);
    background-color: var(--colorPrimary);

}

/*                                  */
/*                                  */
/*                                  */
/*                                  */
/*                                  */
/*                                  */
/*                                  */
/*          Element Detail          */
#aboutElementDetail {
    position: relative;
    width: 65vw;
    height: 90vh;

    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    margin: 2vw 5vh;

    display: none;
}
#aboutElementDetail::-webkit-scrollbar {
    display: none;
}

.aboutElementDetailShort {
    color: var(--colorPrimary);
    font-family: Mulish;
    font-size: 1.3rem;
}
.aboutElementDetailShortNum {
    color: var(--colorText);
    font-family: Mulish-Bold;
    font-size: inherit;
}
.aboutElementDetailParagraph {
    color: var(--colorText);
    font-family: Mulish;
    font-size: 1.3rem;

    text-align: justify;

    padding-top: 1vh;
}
#aboutElementDetailLinks {
    position: relative;
    width: 100%;

    display: inline-flex;

    z-index: 100;

    padding-bottom: 20vh;
    
}
.aboutElementDetailLink {
    margin-top: 2vh;
    margin-bottom: 0vh;
    background-color: var(--colorTerciary);
    display: inline-flex;

    padding: 1vh 1.5vw;

    border-radius: 0.8em;

    margin-right: 1vw;

    text-decoration: none;

    transition: background-color 0.3s ease-in-out, margin-top 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
}
.aboutElementDetailLink:hover {
    background-color: var(--colorPrimary);
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
}
.aboutElementDetailLink i {
    color: var(--colorBackground);
    font-size: 1vw;

    margin: auto;
}   
.aboutElementDetailLink p {
    width: fit-content;
    
    color: var(--colorBackground);
    font-family: Mulish-Bold;
    font-size: 0.7vw;

    padding: auto;
    padding-left: 0.4vw;
}

/*                                                  */
/*                                                  */
/*                                                  */
/*                                                  */
/*                                                  */
/*                                                  */
/*                                                  */
/*                                                  */
/*              Advanced Settings                   */
#advancedSettings {
    position: fixed;

    width: 80vw;
    height: 46vh;
    margin: 0 10vw;
    margin-top: 45vh;
}
#advancedSettings h1{        
    color: var(--colorText);
    font-family: Mulish;
    font-size: 2rem;

    padding: 2vh;
}      
.advancedSettingsButtonWrapper {
    display: flex;

    margin-top: 2vh;
}
.advancedSettingsButtonWrapper p{
    color: var(--colorTextOff);
    font-family: Mulish;
    font-size: 1.2rem;

    font-style: italic;

    margin: auto 0;

    margin-left: 10vw;
    margin-right: auto;

    justify-content: right;
}
#advancedSettings button{
    background-color: var(--colorSecundary);
    padding: 2vh;
    margin-left: 1vw;
    width: 20%;

    display: block;
    
    color: var(--colorText);
    font-family: Mulish;
    font-size: 1.2rem;

    border: 0px solid transparent;
    border-radius: 12px;

    cursor: pointer;
} 
.advancedSettingsActiveButton{
    background-color: var(--colorPrimary);
}   