* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: var(--colorBackground);

    width: 100vw;

    overflow-x: hidden;
}

#textBlocks {
    display: flex;
}
textarea {
    background-color: var(--colorSecundary);

    border: 2px solid transparent;
    border-radius: 12px;

    padding: 2vh;

    resize: none;

    color: var(--colorText);

    font-family: Roboto;
    font-size: 1rem;

    overflow-y: auto;

    width: 90vw;

    argin: 5vh 5vw;
}
textarea:focus {
    outline: 2px solid var(--colorBackground);
    border: 2px solid var(--colorPrimary);

    transition: border 0.2s ease-in-out;
}
#textBlocks > textarea {
    margin: 0 auto;
    margin-top: 15vh;

    columns: 30;

    width: 30vw;
    height: 50vh;
}
textarea:first-of-type{
    margin-right: 3vw !important;
}
textarea:last-of-type {
    margin-left: 3vw !important;
}


#options {
    width: 100%;

    position: relative;
}
#options > .inlineFlex:first-of-type {
    width: fit-content;
    margin: 0 auto;

    margin-top: 5vh;

    position: relative;
    display: block;
}
#options > .inlineFlex:last-of-type {
    width: fit-content;
    margin: 0 auto;

    margin-top: 0.8vh;

    position: relative;
    display: block;
}
#options > .inlineFlex:last-of-type > .toggleButton {
    background-color: var(--colorSecundary);

    font-family: Mulish-Bold;
    font-size: 1.2rem;
    color: var(--colorText);

    padding: 2.5vh 2vw;

    border: 0px solid transparent;
    border-radius: 7px;

    margin: 0 0.5vw;
    width: 16rem;

    margin-top: 5vh;

}
.toggleButton {
    background-color: var(--colorSecundary);

    font-family: Roboto-Bold;
    font-size: 1rem;
    color: var(--colorText);

    padding: 1.5vh 1vw;

    border: 0px solid transparent;
    border-radius: 7px;

    margin: 0 0.5vw;
    width: 14rem;

    cursor: pointer;

    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.toggleButton[data-enabled="true"] {
    background-color: var(--colorTerciary) !important;
    color: var(--colorBackground) !important;
}
.toggleButton > i{
    margin: auto 0.5vw;
}
.toggleButtonToggled {
    outline: 2px solid var(--colorTerciary);
    outline-offset: 2px;

    color: var(--colorTerciary) !important;

}
#convertButton {
    background-color: var(--colorPrimary) !important;
    color: var(--colorBackground) !important;

    text-transform: uppercase !important;
}




@media screen and (max-width: 1200px) and (orientation: portrait){
    body {
        width: 100vw !important;
    
        overflow-x: hidden;
    }
    #options > .inlineFlex, #textBlocks {
        display: block !important;
    }
    #textBlocks > textarea {
        margin: 0 auto !important;
        margin-top: 2.5vh !important;
    
        width: 80vw;
        height: 30vh;

        display: block;
    }
    #textBlocks > textarea:first-of-type {
        margin-top: 3.5vh !important;
    }
    #textBlocks{
        margin-bottom: 7vh;
    }
    #options > .inlineFlex:first-of-type > .toggleButton {
    
        margin: 1vh auto;
        display: block;
        width: 90vw;
    
    }
    #options > .inlineFlex:last-of-type > .toggleButton {
    
        margin: 1vh auto;
        display: block;

        width: 90vw;
        height: 6vh;

        font-size: 1.2rem;

        padding: 0.1vh 1vw;
    
    }
    #options > .inlineFlex:first-of-type {
        width: 100vw;
        margin: 0 auto;
        padding-bottom: 10vh;
        display: block;

        justify-content: center;
    }
    #options > .inlineFlex:last-of-type {

        
        width: 100vw;
        padding-bottom: 10vh;

        justify-content: center;
    }
}